
.fuck {
    background-color: rgba(0, 0, 0, 0.15);
}


.uno img {
    width: 80%;
    height: 40%;
    position: absolute;
    top: -15%;
    left: -30%;

}

h2 {
    top: 35%;
    font-size: 3rem;
    position: absolute;
}

.dos img {
    width: 70%;
    height: 35%;
    position: absolute;
    top: 40%;
    right: -25%;
}

.tres img {
    width: 80%;
    height: 40%;
    position: absolute;
    bottom: -5%;
    left: -30%;
}





.arregloImg2 {
    width: 70%;
    height: 40%;
    top:30% ;
    right: -35%;
    overflow: hidden;
}


.ampliar.active {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

}

.ampliar img {
    z-index: 1;
}

.ampliar.active::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 0;
    border-radius: inherit;
}
